<div id="map">
  <ng-container *ngIf="placeService.places$ | async as places">
    <app-place
      *ngFor="let place of places"
      [map]="map"
      [place]="place"
    ></app-place>
    <div *ngIf="!places.length" class="empty">
      You can add new locations by right-click on map 🌿
    </div>
  </ng-container>
</div>

<clr-modal [(clrModalOpen)]="addPlaceFormOpen" [clrModalStaticBackdrop]="false">
  <div class="modal-body">
    <app-place-form
      *ngIf="addPlaceFormOpen"
      [location]="addPlaceFormLocation"
      ($close)="addPlaceFormOpen = false"
    ></app-place-form>
  </div>
</clr-modal>
