:host {
  .card {
    height: 100%;
    margin: 0;
    border-radius: 6px;
    border: 1px solid var(--clr-color-action-500);
    box-shadow: none;
    display: flex;
    flex-direction: column;

    > .title {
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 500;
      color: white;
      background: var(--clr-color-action-500);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        border: none;
        margin-right: 0;
      }
    }

    .content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .row {
        display: grid;
        grid-template-columns: 160px 1fr;
        align-items: flex-start;

        .label {
        }

        .value {
          width: 100%;

          &.map {
            height: 140px;
          }

          &.logo {
            height: 120px;

            .card {
                &:not(.preview) {
                    cursor: pointer;
                }
                
                .title {
                  display: flex;
                  justify-content: center;
                  padding: 4px;
                  font-size: 14px;
                }
                .icon {
                  flex: 1;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 8px;
                }
            }

            .preview {
              overflow: hidden;
              position: relative;
              img {
                width: 100%;
                height: 100%;
                max-height: 100%;
              }

              .btn {
                position: absolute;
                right: -5px;
                top: 0;
                border: none;
              }
            }
          }
        }
      }
    }
  }

  .actions {
    margin-top: 4px;
    padding: 4px;
    display: flex;
    flex-direction: row-reverse;
  }

  input[type="file"] {
    display: none;
  }

  ::ng-deep {
    .clr-form-control {
      margin-top: 0;
    }

    .clr-control-container,
    .clr-select-wrapper {
      width: 100%;
    }
  }
}
